body { 
  background: url(Assets/gradient-with-full-food-transparency.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#logo {
  height: 58px;
  margin-top: 3px;
  margin-left: 5px;
}


#currentLocationbtn, #currentLocationbtnMobile {
  color: black;
  margin-top: 5px;
}

#calorieCounter {
  color: black;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
}

#carousel-space {
  padding: 5px;
  padding-left: 376px;
  padding-right: 128px;
}

a {
  color: black;
  font-family: 'Pragati Narrow', sans-serif;
  line-height: 1.0;
}

.gmap {
  vertical-align: middle;
}

.modalBtnStyle {
  font-size: 20px;
  margin-top: 43px;
  margin-bottom: 43px;
  margin-left: 160px !important;
  background-color: rgb(37, 65, 37);
}

/* Mobile */
@media only screen and (max-width: 767px) {
  #desktop-buttons {
    display: none;
    
  }
  #currentLocationbtn {
    display: none;
  }
  
  
  #currentLocationbtnMobile {
    display: block;
    margin-top: 10px;
    margin-right: 3px;
  }
  
  #ulStyling {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #logo {
    height: 53px;
    margin-top: 1px;
    margin-left: 5px;
    display: block !important;
  }
  
  #homepageLogo {
    display: none;
  }
  
}

/* Desktop */
@media only screen and (min-width: 768px) {
  #mobile {
    display: none;
  }
  
  #desktop {
    display: block;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
  }
  
  #logo {
    float: left;
  }
  
  #currentLocationbtnMobile {
    display: none;
  }
  
  #currentLocationbtn {
    display: block;
    margin-top: 14px;
  }
  
  #calorieCounterMob {
    display: none;
  }
  
  #calorieCounter {
    margin-right: 13px;
    margin-top: -2px;
  }
  
  #homepageLogo {
    width: 70%;
    margin-top: 131px;
    margin-left: 213px;
  }

}

#desktop {
  width: 80%;
  margin-left: 150px;
  margin-top: 40px;
  height: 80vh;
}

.restaurantInfo {
  font-size: 36px;
  text-align: center;
}

#styleName {
font-weight: bold;
font-size: 70px;
text-align: center;
margin-bottom: -13px;
}

#styleAddress {
color: gray;
text-align: center;
margin-bottom: 15px;
}

#styleWeb {
  text-transform: none;
  border: 1px solid black;
  margin-left: 280px;
  padding: 5px;
  border-radius: 5px;
}

#mapStyle {
  margin-top: 16px;
  margin-left: 38px;
  border: 1px solid black !important;
  margin-bottom: -10px;
}

.modal-content {
  padding-top: 2px !important;
}

.collapsible {
  margin: 10px;
}

.collapsible-body {
  padding: 1px;
}

#collRestAdd {
  color: black;
  font-size: 18px;
}

#collRestWeb {
  text-transform: none;
  border: 1px solid black;
  margin-bottom: 6px;
  color: black;
}

#collRestName {
  font-size: 25px;
}